body {
  text-align: center;
  background-color: rgb(223, 249, 213);
}
h1 {
  color: green;
}
.project-ideas-section {
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 800;
}
.bg-danger {
  background-color: rgb(254, 116, 148) !important;
}
.bkgd-image {
  background-image: URL("../images/4th-page-bckgnd.png");
  background-position: top;
  background-repeat: none;
  background-size: 89% 125%;
  padding: 100px 15px 200px;
}
@media (max-width: 576px) {
  img {
    max-width: 300px;
  }
  .bkgd-image {
    background-repeat: none;
    background-size: 130% 125%;
  }
}
