body {
  text-align: center;
  background-image: URL("../images/portfolio-flower-pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-size: 32px;
  color: rgb(230, 28, 129);
  font-weight: 900;
}
h2 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(80, 12, 46);
  font-weight: bolder;
  background-color: rgb(241, 195, 228, 0.3);
}
h3 {
  font-size: 19px;
  font-weight: 700;
}
.myTittle {
  font-size: 14px;
  font-weight: 800;
  opacity: 0.7;
}
.homepage {
  padding: 24px 0;
}
.page-one-pic {
  max-width: 80px;
}
.instructions-homepage {
  opacity: 0.6;
  font-size: 16px;
}
.instructions-homepage:hover {
  cursor: default;
}
.button-links {
  opacity: 0.6;
}
.coded-by-info {
  margin-top: 90px;
  font-size: 10px;
}
