body {
  text-align: center;
  background-image: URL("../images/portfolio-flower-pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1 {
  font-size: 42px;
  color: rgb(230, 28, 129);
  font-weight: 900;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(80, 12, 46);
  font-weight: bolder;
  background-color: rgb(241, 195, 228, 0.3);
}
h3 {
  font-size: 28px;
  font-weight: 700;
}
.myTittle {
  font-size: 22px;
  font-weight: 800;
  opacity: 0.7;
}
.homepage {
  padding: 24px 0;
}
.page-one-pic {
  max-width: 90px;
}
.instructions-homepage {
  opacity: 0.6;
  font-size: 19 px;
}
.instructions-homepage:hover {
  cursor: default;
}
.button-links {
  opacity: 0.6;
}
.about-me-link,
.projects-link,
.contact-me-link {
  font-size: 22px;
}

.coded-by-info {
  margin-top: 40px;
  font-size: 12px;
}
